footer {
        background-color: white;
        width: 100%;
        line-height: 60px;
        position: fixed;
        border-top: 1px solid #CCCCCC;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
}
